@page
@model ListModel

@{
    ViewData["Title"] = "Restaurants";
}

<!DOCTYPE html>

<html>
<head>
    <title>Restaurants</title>
</head>
<body>
<div>
    <h1>@ViewData["Title"]</h1>
    <p>Restaurant List</p>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                @* because we are using asp-for 'Model.' is assumed unlike in the foreach below. 
                        asp-for is essentially performing a two-way bind between model and form*@
                <input type="search" class="form-control" asp-for="SearchTerm"/>
                <span class="input-group-btn">
                    <button class="btn btn-outline-success">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </form>
    @foreach (var restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="restaurant"/>
    }
    <a asp-page="./Edit" class="btn btn-primary">Add New</a>
</div>
@section footer
{
    
    <div>@Model.Message</div>
}
</body>
</html>