@page

@{
    ViewData["Title"] = "NotFound";
}

<!DOCTYPE html>

<html>
<head>
    <title>Not Found</title>
</head>
<body>
<div>
    <h2>Your restaurant was not found</h2>
    <a asp-page="./List">
        <button class="btn btn-outline-info">Restaurant List</button>
    </a>
</div>
</body>
</html>